---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
 
const allPosts = await getCollection('blog') as {slug: string, data: {title: string}}[];
 
---
 
<Layout title="Welcome to Astro.">
  <main
  class=" mt-32"
  >
    {allPosts.map((post) => <a href={'/blog/' +post.slug}>{post.data.title}</a>)}
  </main>
</Layout>